<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INE</title>


    

    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/business-frontpage.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <b><a class="navbar-brand" href="#">INE</a></b>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header with Background Image -->
    <header class="business-header">
        <div class="container">
        </div>
    </header>

    <div class="container">
    </div>



    <!--IMPORTANTE-->
        @RenderBody()
        <!--IMPORTANTE-->


        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy;2018</p>
            </div>
            <!-- /.container -->
        </footer>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <!-- Bootstrap core JavaScript -->
        <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
        <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
